.home {
  display: flex;
  align-items: center;
  justify-content: center;
  .container-home {
    margin: 3.5em 0;
    min-width: 400px;
    height: 500px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    hr {
      width: 100px;
      margin: auto;
    }
    h1 {
      color: #555;
      font-weight: bold;
      font-size: 25px;

    }
  }
}